@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Roboto";
  src: url("/roboto-regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  size-adjust: 97.38%;
  ascent-override: 99%;
  src: local("Arial");
}

* {
  font-family: Roboto;
}
